
.forum-overview-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
 
  }
  

  .forum-overview-container h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
  }
  
  
  .forum-overview-container ul {
    list-style-type: none;
    padding: 0;
  }
  

  .forum-overview-container li {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    transition: box-shadow 0.3s ease;
  }
  

  .forum-overview-container li:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  

  .forum-overview-container h3 {
    margin: 0 0 10px;
    font-size: 1.5em;
    color:#4caf50;
  }
  

  .forum-overview-container h3 a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
  }
  
  .forum-overview-container h3 a:hover {
    color: #45a049;
  }
  

  .forum-overview-container p {
    margin: 0;
    font-size: 1em;
    color: #555;
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    .forum-overview-container {
      padding: 10px;
    }
  
    .forum-overview-container h1 {
      font-size: 1.8em;
    }
  
    .forum-overview-container h3 {
      font-size: 1.3em;
    }
  }
  