.welcome-page {
  text-align: center;
  padding: 20px;
}

.welcome-page h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.welcome-page p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.welcome-image {
  margin-bottom: 5px;
}

.welcome-image img {
  max-width: 20%;
  height: auto;
  border-radius: 10px;
}

.welcome-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.welcome-buttons button {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.welcome-buttons button:hover {
  background-color: #0056b3;
}
